<a href="https://colab.research.google.com/github/AdityaFaisal/DecisionTree_DataMining/blob/main/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
#Import library numpy, pandas dan sclikit-learn
import numpy as np
import pandas as pd
from sklearn import tree

In [76]:
#Membaca dataset dari file ke pandas dataFrame
irisDataset = pd.read_csv('horses.csv', delimiter=',', header=0)

In [77]:
irisDataset.head()

   id  age  sex_id  sire_id  dam_id  prize_money
0  17  2.0     1.0     17.0    17.0      31760.0
1  86  5.0     1.0     55.0    86.0      60235.0
2  82  5.0     3.0     69.0    82.0      56075.0
3  77  6.0     1.0     10.0    77.0     166580.0
4  46  5.0     1.0     41.0    46.0       9800.0

In [23]:
#mengubah kelas (kolom "species") dari string ke unique-integer
irisDataset["prize_money"] = pd.factorize(irisDataset.prize_money)[0]

In [24]:
irisDataset.head()

   id  age  sex_id  sire_id  dam_id  prize_money
0  17  2.0     1.0     17.0    17.0            0
1  86  5.0     1.0     55.0    86.0            1
2  82  5.0     3.0     69.0    82.0            2
3  77  6.0     1.0     10.0    77.0            3
4  46  5.0     1.0     41.0    46.0            4

In [25]:
print(irisDataset)

          id  age  sex_id  sire_id   dam_id  prize_money
0         17  2.0     1.0     17.0     17.0            0
1         86  5.0     1.0     55.0     86.0            1
2         82  5.0     3.0     69.0     82.0            2
3         77  6.0     1.0     10.0     77.0            3
4         46  5.0     1.0     41.0     46.0            4
...      ...  ...     ...      ...      ...          ...
14108  13953  3.0     2.0    236.0  11379.0          176
14109  13957  5.0     1.0    397.0  11382.0         7291
14110  13960  5.0     3.0    311.0  11383.0          977
14111  13965  3.0     2.0    249.0  11386.0         1241
14112  13968  4.0     3.0      8.0  11388.0         8357

[14113 rows x 6 columns]

In [26]:
#menghapus kolom "id"
irisDataset = irisDataset.drop(labels="id", axis=1)

In [27]:
print(irisDataset)

       age  sex_id  sire_id   dam_id  prize_money
0      2.0     1.0     17.0     17.0            0
1      5.0     1.0     55.0     86.0            1
2      5.0     3.0     69.0     82.0            2
3      6.0     1.0     10.0     77.0            3
4      5.0     1.0     41.0     46.0            4
...    ...     ...      ...      ...          ...
14108  3.0     2.0    236.0  11379.0          176
14109  5.0     1.0    397.0  11382.0         7291
14110  5.0     3.0    311.0  11383.0          977
14111  3.0     2.0    249.0  11386.0         1241
14112  4.0     3.0      8.0  11388.0         8357

[14113 rows x 5 columns]

In [28]:
#mengubah dataframe ke array numpy
irisDataset = irisDataset.to_numpy()

In [29]:
print(irisDataset)

[[2.0000e+00 1.0000e+00 1.7000e+01 1.7000e+01 0.0000e+00]
 [5.0000e+00 1.0000e+00 5.5000e+01 8.6000e+01 1.0000e+00]
 [5.0000e+00 3.0000e+00 6.9000e+01 8.2000e+01 2.0000e+00]
 ...
 [5.0000e+00 3.0000e+00 3.1100e+02 1.1383e+04 9.7700e+02]
 [3.0000e+00 2.0000e+00 2.4900e+02 1.1386e+04 1.2410e+03]
 [4.0000e+00 3.0000e+00 8.0000e+00 1.1388e+04 8.3570e+03]]

In [39]:
#membagi dataset => 80 baris data untuk training dan 20 baris data untuk testing
dataTraining = np.concatenate((irisDataset[0:20, :], irisDataset[60:100, :]), axis=0)
dataTesting = np.concatenate((irisDataset[20:60, :], irisDataset[100:200, :]), axis=0)

In [40]:
print(dataTraining)
len(dataTraining)

[[2.000e+00 1.000e+00 1.700e+01 1.700e+01 0.000e+00]
 [5.000e+00 1.000e+00 5.500e+01 8.600e+01 1.000e+00]
 [5.000e+00 3.000e+00 6.900e+01 8.200e+01 2.000e+00]
 [6.000e+00 1.000e+00 1.000e+01 7.700e+01 3.000e+00]
 [5.000e+00 1.000e+00 4.100e+01 4.600e+01 4.000e+00]
 [4.000e+00 1.000e+00 7.300e+01 8.700e+01 5.000e+00]
 [6.000e+00 1.000e+00 6.200e+01 8.000e+01 6.000e+00]
 [3.000e+00 2.000e+00 5.000e+00 5.000e+00 7.000e+00]
 [5.000e+00 1.000e+00 8.000e+01 9.800e+01 8.000e+00]
 [3.000e+00 1.000e+00 2.700e+01 2.800e+01 9.000e+00]
 [2.000e+00 2.000e+00 2.200e+01 2.200e+01 1.000e+01]
 [4.000e+00 3.000e+00 3.100e+01 3.200e+01 1.100e+01]
 [5.000e+00 3.000e+00 6.000e+00 6.000e+00 1.200e+01]
 [3.000e+00 1.000e+00 4.000e+00 4.000e+00 1.300e+01]
 [5.000e+00 1.000e+00 6.200e+01 7.100e+01 1.400e+01]
 [6.000e+00 3.000e+00 4.600e+01 5.400e+01 1.500e+01]
 [8.000e+00 1.000e+00 6.000e+01 6.900e+01 1.600e+01]
 [3.000e+00 1.000e+00 2.600e+01 2.700e+01 1.700e+01]
 [3.000e+00 1.000e+00 1.600e+01 1.600e+01 1.800e+01]
 [6.000e+00 1.000e+00 6.500e+01 7.500e+01 1.900e+01]
 [6.000e+00 1.000e+00 1.000e+00 1.060e+02 6.000e+01]
 [7.000e+00 1.000e+00 4.900e+01 5.700e+01 6.100e+01]
 [5.000e+00 3.000e+00 7.600e+01 9.000e+01 6.200e+01]
 [7.000e+00 3.000e+00 7.800e+01 9.400e+01 6.300e+01]
 [6.000e+00 3.000e+00 5.400e+01 6.200e+01 6.400e+01]
 [3.000e+00 1.000e+00 2.000e+00 2.000e+00 6.500e+01]
 [2.000e+00 1.000e+00 1.500e+01 1.500e+01 6.600e+01]
 [2.000e+00 1.000e+00 1.900e+01 1.900e+01 6.700e+01]
 [2.000e+00 4.000e+00 2.000e+01 2.000e+01 6.800e+01]
 [2.000e+00 2.000e+00 2.300e+01 2.300e+01 4.600e+01]
 [2.000e+00 2.000e+00 2.400e+01 2.400e+01 6.900e+01]
 [3.000e+00 1.000e+00 3.000e+01 3.100e+01 7.000e+01]
 [3.000e+00 2.000e+00 6.000e+00 3.400e+01 7.100e+01]
 [3.000e+00 2.000e+00 3.300e+01 3.600e+01 7.200e+01]
 [3.000e+00 2.000e+00 4.000e+00 4.000e+01 7.300e+01]
 [4.000e+00 1.000e+00 3.900e+01 4.400e+01 7.400e+01]
 [2.000e+00 1.000e+00 4.300e+01 4.900e+01 7.500e+01]
 [5.000e+00 1.000e+00 6.400e+01 7.400e+01 7.600e+01]
 [5.000e+00 1.000e+00 7.500e+01 8.900e+01 7.700e+01]
 [6.000e+00 1.000e+00 8.200e+01 1.020e+02 7.800e+01]
 [4.000e+00 1.000e+00 8.300e+01 1.030e+02 7.900e+01]
 [6.000e+00 1.000e+00 5.000e+00 1.050e+02 8.000e+01]
 [4.000e+00 1.000e+00 8.600e+01 1.090e+02 8.100e+01]
 [4.000e+00 3.000e+00 1.840e+02 7.490e+02 8.200e+01]
 [6.000e+00 1.000e+00 7.700e+01 1.920e+02 8.300e+01]
 [3.000e+00 1.000e+00 1.900e+01 2.600e+01 8.400e+01]
 [3.000e+00 1.000e+00 9.600e+01 1.260e+02 8.500e+01]
 [7.000e+00 1.000e+00 1.230e+02 1.650e+02 8.600e+01]
 [5.000e+00 3.000e+00 1.200e+01 1.350e+02 8.700e+01]
 [4.000e+00 3.000e+00 2.850e+02 4.812e+03 8.800e+01]
 [3.000e+00 2.000e+00 1.090e+02 1.470e+02 8.900e+01]
 [7.000e+00 1.000e+00 8.900e+01 1.160e+02 9.000e+01]
 [6.000e+00 3.000e+00 1.140e+02 1.890e+02 9.100e+01]
 [5.000e+00 1.000e+00 5.000e+01 3.235e+03 9.200e+01]
 [3.000e+00 2.000e+00 1.280e+02 1.780e+02 9.300e+01]
 [3.000e+00 1.000e+00 3.980e+02 7.196e+03 9.400e+01]
 [5.000e+00 3.000e+00 1.030e+02 1.360e+02 9.500e+01]
 [7.000e+00 1.000e+00 1.170e+02 1.580e+02 9.600e+01]
 [6.000e+00 3.000e+00 1.300e+02 1.840e+02 9.700e+01]
 [6.000e+00 1.000e+00 1.290e+02 1.820e+02 9.800e+01]]

60

In [41]:
print(dataTesting)
len(dataTesting)

[[4.0000e+00 1.0000e+00 2.5000e+01 2.5000e+01 2.0000e+01]
 [4.0000e+00 1.0000e+00 4.7000e+01 5.5000e+01 2.1000e+01]
 [4.0000e+00 3.0000e+00 4.0000e+01 1.0000e+02 2.2000e+01]
 [5.0000e+00 3.0000e+00 5.8000e+01 6.6000e+01 2.3000e+01]
 [5.0000e+00 3.0000e+00 4.2000e+01 4.7000e+01 2.4000e+01]
 [4.0000e+00 3.0000e+00 1.2000e+01 1.2000e+01 2.5000e+01]
 [7.0000e+00 3.0000e+00 3.0000e+01 9.1000e+01 2.6000e+01]
 [9.0000e+00 1.0000e+00 7.9000e+01 9.5000e+01 2.7000e+01]
 [8.0000e+00 1.0000e+00 7.2000e+01 8.5000e+01 2.8000e+01]
 [5.0000e+00 3.0000e+00 9.0000e+00 9.0000e+00 2.9000e+01]
 [7.0000e+00 1.0000e+00 6.3000e+01 7.3000e+01 3.0000e+01]
 [4.0000e+00 1.0000e+00 5.1000e+01 5.9000e+01 3.1000e+01]
 [3.0000e+00 2.0000e+00 1.1000e+01 1.1000e+01 3.2000e+01]
 [3.0000e+00 2.0000e+00 3.5000e+01 3.8000e+01 3.3000e+01]
 [8.0000e+00 1.0000e+00 7.0000e+01 8.3000e+01 3.4000e+01]
 [4.0000e+00 1.0000e+00 1.8000e+01 5.1000e+01 3.5000e+01]
 [6.0000e+00 3.0000e+00 6.1000e+01 7.0000e+01 3.6000e+01]
 [7.0000e+00 1.0000e+00 7.7000e+01 9.7000e+01 3.7000e+01]
 [4.0000e+00 1.0000e+00 3.8000e+01 4.3000e+01 3.8000e+01]
 [3.0000e+00 2.0000e+00 3.7000e+01 4.2000e+01 3.9000e+01]
 [4.0000e+00 1.0000e+00 7.7000e+01 1.1400e+02 4.0000e+01]
 [5.0000e+00 1.0000e+00 2.0000e+01 1.0100e+02 4.1000e+01]
 [8.0000e+00 1.0000e+00 5.0000e+01 5.8000e+01 4.2000e+01]
 [5.0000e+00 1.0000e+00 8.7000e+01 1.1300e+02 4.3000e+01]
 [5.0000e+00 1.0000e+00 6.7000e+01 7.8000e+01 4.4000e+01]
 [4.0000e+00 1.0000e+00 2.8000e+01 2.9000e+01 4.5000e+01]
 [5.0000e+00 6.0000e+00 9.3000e+01 1.1391e+04 4.6000e+01]
 [3.0000e+00 1.0000e+00 5.7000e+02 1.4290e+03 4.7000e+01]
 [3.0000e+00 2.0000e+00 1.3300e+02 5.7740e+03 4.8000e+01]
 [4.0000e+00 1.0000e+00 2.2000e+01 9.3000e+01 4.9000e+01]
 [6.0000e+00 3.0000e+00 4.7000e+01 1.0700e+02 5.0000e+01]
 [4.0000e+00 3.0000e+00 3.6000e+01 3.9000e+01 5.1000e+01]
 [5.0000e+00 3.0000e+00 4.5000e+01 5.3000e+01 5.2000e+01]
 [7.0000e+00 1.0000e+00 3.0000e+01 8.1000e+01 5.3000e+01]
 [5.0000e+00 3.0000e+00 5.7000e+01 6.7000e+01 5.4000e+01]
 [7.0000e+00 3.0000e+00 5.5000e+01 6.3000e+01 5.5000e+01]
 [5.0000e+00 1.0000e+00 4.0000e+01 1.1000e+02 5.6000e+01]
 [4.0000e+00 1.0000e+00 2.0000e+01 5.0000e+01 5.7000e+01]
 [4.0000e+00 3.0000e+00 1.1800e+02 9.6710e+03 5.8000e+01]
 [5.0000e+00 1.0000e+00 5.2000e+01 1.1200e+02 5.9000e+01]
 [1.0000e+01 1.0000e+00 9.5000e+01 1.2300e+02 9.9000e+01]
 [7.0000e+00 1.0000e+00 7.7000e+01 9.2000e+01 1.0000e+02]
 [6.0000e+00 1.0000e+00 1.2000e+02 1.6200e+02 1.0100e+02]
 [5.0000e+00 1.0000e+00 1.3100e+02 1.8500e+02 1.0200e+02]
 [5.0000e+00 1.0000e+00 1.2400e+02 1.7400e+02 1.0300e+02]
 [7.0000e+00 3.0000e+00 7.4000e+01 8.8000e+01 1.0400e+02]
 [4.0000e+00 3.0000e+00 8.0000e+00 1.4600e+02 1.0500e+02]
 [7.0000e+00 1.0000e+00 7.1000e+01 8.4000e+01 1.0600e+02]
 [6.0000e+00 1.0000e+00 5.4000e+01 1.2400e+02 1.0700e+02]
 [6.0000e+00 3.0000e+00 3.0000e+01 1.7500e+02 1.0800e+02]
 [4.0000e+00 1.0000e+00 1.0600e+02 1.3900e+02 1.0900e+02]
 [4.0000e+00 3.0000e+00 1.0000e+01 2.4100e+03 1.1000e+02]
 [7.0000e+00 3.0000e+00 1.0000e+01 7.2000e+01 1.1100e+02]
 [9.0000e+00 1.0000e+00 9.0000e+01 1.1800e+02 1.1200e+02]
 [5.0000e+00 1.0000e+00 5.2000e+01 6.0000e+01 1.1300e+02]
 [9.0000e+00 1.0000e+00 5.0000e+00 9.6000e+01 1.1400e+02]
 [4.0000e+00 3.0000e+00 3.2000e+01 3.3000e+01 1.1500e+02]
 [7.0000e+00 1.0000e+00 1.1800e+02 1.5900e+02 1.1600e+02]
 [5.0000e+00 1.0000e+00 4.4000e+01 5.2000e+01 1.1700e+02]
 [4.0000e+00 3.0000e+00 1.3400e+02 1.8800e+02 1.1800e+02]
 [6.0000e+00 3.0000e+00 1.1200e+02 1.5100e+02 1.1900e+02]
 [6.0000e+00 3.0000e+00 1.3600e+02 1.9400e+02 1.2000e+02]
 [9.0000e+00 1.0000e+00 1.1300e+02 1.5200e+02 1.2100e+02]
 [4.0000e+00 1.0000e+00 1.0500e+02 1.3800e+02 1.2200e+02]
 [5.0000e+00 1.0000e+00 1.1900e+02 1.6100e+02 1.2300e+02]
 [4.0000e+00 3.0000e+00 9.7000e+01 1.5000e+02 1.2400e+02]
 [6.0000e+00 3.0000e+00 1.2100e+02 1.6300e+02 1.2500e+02]
 [4.0000e+00 1.0000e+00 1.1000e+02 1.4800e+02 1.2600e+02]
 [4.0000e+00 3.0000e+00 4.0000e+00 1.3400e+02 1.2700e+02]
 [4.0000e+00 3.0000e+00 9.7000e+01 1.2700e+02 1.2800e+02]
 [7.0000e+00 1.0000e+00 1.0100e+02 1.3200e+02 1.2900e+02]
 [5.0000e+00 1.0000e+00 5.9000e+01 1.4400e+02 1.3000e+02]
 [4.0000e+00 3.0000e+00 3.4000e+01 3.7000e+01 1.3100e+02]
 [4.0000e+00 3.0000e+00 9.8000e+01 1.2800e+02 1.3200e+02]
 [6.0000e+00 1.0000e+00 1.0000e+00 1.0000e+00 1.3300e+02]
 [5.0000e+00 3.0000e+00 5.8900e+02 3.2380e+03 1.3400e+02]
 [5.0000e+00 3.0000e+00 1.0000e+01 1.0000e+01 1.3500e+02]
 [5.0000e+00 1.0000e+00 6.9000e+01 1.5500e+02 1.3600e+02]
 [5.0000e+00 1.0000e+00 1.3200e+02 1.8600e+02 1.3700e+02]
 [5.0000e+00 3.0000e+00 1.0000e+02 1.3100e+02 1.3800e+02]
 [5.0000e+00 1.0000e+00 1.0700e+02 1.4200e+02 1.3900e+02]
 [5.0000e+00 1.0000e+00 1.2400e+02 1.6700e+02 1.4000e+02]
 [5.0000e+00 1.0000e+00 9.1000e+01 1.1900e+02 1.4100e+02]
 [5.0000e+00 1.0000e+00 4.8000e+01 5.6000e+01 1.4200e+02]
 [7.0000e+00 1.0000e+00 9.2000e+01 1.2000e+02 1.4300e+02]
 [4.0000e+00 1.0000e+00 3.0000e+00 3.0000e+00 1.4400e+02]
 [3.0000e+00 2.0000e+00 7.0000e+00 7.0000e+00 1.4500e+02]
 [3.0000e+00 2.0000e+00 1.4000e+01 1.4000e+01 7.3000e+01]
 [2.0000e+00 4.0000e+00 1.8000e+01 1.8000e+01 1.4600e+02]
 [2.0000e+00 1.0000e+00 2.1000e+01 2.1000e+01 1.4700e+02]
 [3.0000e+00 1.0000e+00 2.9000e+01 3.0000e+01 1.4800e+02]
 [3.0000e+00 1.0000e+00 1.2000e+01 4.1000e+01 7.3000e+01]
 [3.0000e+00 1.0000e+00 4.0000e+01 4.5000e+01 1.4900e+02]
 [3.0000e+00 2.0000e+00 3.7000e+01 4.8000e+01 1.5000e+02]
 [5.0000e+00 1.0000e+00 5.6000e+01 6.4000e+01 1.5100e+02]
 [4.0000e+00 1.0000e+00 5.9000e+01 6.8000e+01 1.5200e+02]
 [4.0000e+00 1.0000e+00 6.6000e+01 7.6000e+01 1.5300e+02]
 [8.0000e+00 1.0000e+00 6.8000e+01 7.9000e+01 1.5400e+02]
 [3.0000e+00 2.0000e+00 9.9000e+01 1.3000e+02 1.5500e+02]
 [3.0000e+00 2.0000e+00 4.0000e+00 1.4300e+02 1.5600e+02]
 [6.0000e+00 1.0000e+00 2.6000e+01 1.5400e+02 1.5700e+02]
 [5.0000e+00 1.0000e+00 1.1500e+02 1.5600e+02 1.5800e+02]
 [7.0000e+00 1.0000e+00 1.2600e+02 1.6900e+02 1.5900e+02]
 [7.0000e+00 3.0000e+00 3.0000e+01 1.7000e+02 1.6000e+02]
 [4.0000e+00 3.0000e+00 1.0400e+02 1.7100e+02 1.6100e+02]
 [3.0000e+00 1.0000e+00 5.7000e+01 1.7300e+02 1.6200e+02]
 [4.0000e+00 3.0000e+00 4.0000e+01 1.7900e+02 1.6300e+02]
 [5.0000e+00 3.0000e+00 1.3500e+02 1.9300e+02 1.6400e+02]
 [3.0000e+00 2.0000e+00 1.8000e+01 1.4100e+02 1.6500e+02]
 [3.0000e+00 2.0000e+00 1.2700e+02 1.7600e+02 1.6600e+02]
 [3.0000e+00 2.0000e+00 5.0000e+00 1.8300e+02 1.6700e+02]
 [5.0000e+00 3.0000e+00 1.3300e+02 1.8700e+02 1.6800e+02]
 [3.0000e+00 1.0000e+00 2.7100e+02 8.8400e+02 1.6900e+02]
 [6.0000e+00 1.0000e+00 3.8000e+01 7.9420e+03 1.7000e+02]
 [6.0000e+00 3.0000e+00 1.2000e+02 2.7100e+02 1.7100e+02]
 [6.0000e+00 1.0000e+00 9.3000e+01 1.2100e+02 1.7200e+02]
 [5.0000e+00 3.0000e+00 9.2000e+01 1.8000e+02 1.7300e+02]
 [6.0000e+00 1.0000e+00 1.3800e+02 1.9700e+02 1.7400e+02]
 [4.0000e+00 1.0000e+00 1.3400e+02 2.6700e+02 1.7500e+02]
 [3.0000e+00 1.0000e+00 1.6000e+02 2.3000e+02 1.7600e+02]
 [5.0000e+00 3.0000e+00 1.3300e+02 2.3200e+02 1.7700e+02]
 [6.0000e+00 1.0000e+00 1.1400e+02 1.5300e+02 1.7800e+02]
 [3.0000e+00 2.0000e+00 3.3000e+01 2.7000e+02 1.7900e+02]
 [2.0000e+00 2.0000e+00 1.5400e+02 2.2100e+02 1.8000e+02]
 [4.0000e+00 1.0000e+00 7.5000e+01 2.6200e+02 1.8100e+02]
 [5.0000e+00 1.0000e+00 1.7000e+02 2.4900e+02 1.8200e+02]
 [4.0000e+00 3.0000e+00 1.5000e+02 2.1300e+02 1.8300e+02]
 [4.0000e+00 3.0000e+00 1.5200e+02 2.1500e+02 1.8400e+02]
 [3.0000e+00 4.0000e+00 1.9200e+02 8.0240e+03 4.6000e+01]
 [6.0000e+00 1.0000e+00 2.6000e+01 2.0700e+02 1.8500e+02]
 [5.0000e+00 1.0000e+00 7.0000e+00 1.2900e+02 1.8600e+02]
 [2.0000e+00 1.0000e+00 1.6600e+02 2.4200e+02 1.8700e+02]
 [7.0000e+00 3.0000e+00 1.0400e+02 1.3700e+02 1.8800e+02]
 [6.0000e+00 1.0000e+00 1.1700e+02 1.9100e+02 1.8900e+02]
 [2.0000e+00 2.0000e+00 1.6000e+01 2.2000e+02 1.9000e+02]
 [3.0000e+00 1.0000e+00 2.0000e+01 2.6300e+02 1.9100e+02]
 [5.0000e+00 1.0000e+00 8.8000e+01 1.1500e+02 1.9200e+02]
 [5.0000e+00 3.0000e+00 3.9000e+01 1.1100e+02 1.9300e+02]
 [5.0000e+00 1.0000e+00 1.4300e+02 2.0400e+02 1.9400e+02]
 [8.0000e+00 1.0000e+00 3.3900e+02 9.6720e+03 1.9500e+02]]

140

In [69]:
#memecah dataset ke input label
inputTraining = dataTraining[:, 0:1]
inputTesting = dataTesting[:, 0:1]
labelTraining = dataTraining[:, 1]
labelTesting = dataTesting[:, 1]
print(labelTraining)
len(labelTraining)

[1. 1. 3. 1. 1. 1. 1. 2. 1. 1. 2. 3. 3. 1. 1. 3. 1. 1. 1. 1. 1. 1. 3. 3.
 3. 1. 1. 1. 4. 2. 2. 1. 2. 2. 2. 1. 1. 1. 1. 1. 1. 1. 1. 3. 1. 1. 1. 1.
 3. 3. 2. 1. 3. 1. 2. 1. 3. 1. 3. 1.]

60

In [70]:
#mendefinisikan decision tree classifier
model = tree.DecisionTreeClassifier()

In [71]:
#mentraining model
model = model.fit(inputTraining, labelTraining)

In [72]:
#memprediksi input data testing
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [1. 1. 3. 3. 3. 3. 3. 1. 1. 3. 1. 1. 2. 2. 1. 1. 3. 1. 1. 2. 1. 1. 1. 1.
 1. 1. 6. 1. 2. 1. 3. 3. 3. 1. 3. 3. 1. 1. 3. 1. 1. 1. 1. 1. 1. 3. 3. 1.
 1. 3. 1. 3. 3. 1. 1. 1. 3. 1. 1. 3. 3. 3. 1. 1. 1. 3. 3. 1. 3. 3. 1. 1.
 3. 3. 1. 3. 3. 1. 1. 3. 1. 1. 1. 1. 1. 1. 2. 2. 4. 1. 1. 1. 1. 2. 1. 1.
 1. 1. 2. 2. 1. 1. 1. 3. 3. 1. 3. 3. 2. 2. 2. 3. 1. 1. 3. 1. 3. 1. 1. 1.
 3. 1. 2. 2. 1. 1. 3. 3. 4. 1. 1. 1. 3. 1. 2. 1. 1. 3. 1. 1.]
Hasil Prediksi :  [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [73]:
#menghitung akurasi
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar :", prediksiBenar, "data")
print("Prediksi Salah :", prediksiSalah, "data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar : 79 data
Prediksi Salah : 61 data
Akurasi : 56.42857142857143 %